    <div class="footer_top">
        <nav class="fnb">
            <ul>
                <li><a href="#">ABOUT HHC-T!</a>
                    <ul>
                        <li><a href="#">HHC-T 그룹</a></li>
                        <li><a href="#">HHC-T 채용정보</a></li>
                    </ul>
                </li>
                <li><a href="#">마을소개</a>
                </li>
                <li><a href="{% url 'posts:report' %}">마을제보</a>
                </li>
                <li><a href="#">고객센터</a>
                    <ul>
                        <li>1588-1313</li>
                        <li><a href="#">1:1 문의하기</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="kakao">
            <h2>HHC-T KAKAO FRIEND</h2>
            <p>HHC-T 카카오 플러스 친구가 되시면<br>
                다양한 마을정보 및 혜택을 받아보실 수 있습니다.</p>
            <a href="#" class="kakao_btn btn">카카오톡 채널 바로가기</a>
        </div>
    </div>
    <address>
        주)행복한마을ᅵ대표이사 이재형ᅵ서울특별시강남구대치동944-1 대헌빌딩<br> 사업자등록번호132-55-05492 사업자정보확인 ▶<br> ᅵ통신판매업신고번호제2011-서울강남-01501호135-846; 개인정보관리책임자: 이재형<br> CUSTOMER SERVICE TEL 1588-1313 ,<br> feodeveloper@gmail.com
    </address>