{% load static %}
<header id="header">
    <h1 class="top_logo">
        <a href="{% url 'main' %}">
            {% if request.path == '/users/mypage/' %}
                <img src="{% static 'img/logo_black.png' %}" alt="Trans Logo">
            {% elif request.path == '/users/login/' %}
                <img src="{% static 'img/logo_black.png' %}" alt="Trans Logo">
            {% elif request.path == '/users/signup/' %}
                <img src="{% static 'img/logo_black.png' %}" alt="Trans Logo">
            {% elif request.path == '/posts/reports/' %}
                <img src="{% static 'img/logo_black.png' %}" alt="Trans Logo">
            {% elif request.path == '/posts/promotion/' %}
                <img src="{% static 'img/logo_black.png' %}" alt="Trans Logo">
            {% elif request.path == '/posts/notice/' %}
                <img src="{% static 'img/logo_black.png' %}" alt="Trans Logo">
            {% elif request.path == '/posts/talk/' %}
                <img src="{% static 'img/logo_black.png' %}" alt="Trans Logo">
            {% else %}
                <img src="{% static 'img/logo_wh.png' %}" alt="Main Logo">
            {% endif %}
        </a>
    </h1>    
    <nav class="gnb">
        <ul>
            <li><a href="#">이벤트</a>
            </li>
            <li><a href="{% url 'posts:promotion' %}">마을게시판</a>
            </li>
            <li><a href="{% url 'posts:reports' %}">마을제보</a>
            </li>
            <li><a href="{% url 'posts:notice' %}">공지사항</a></li>
            <li><a href="{% url 'posts:talk' %}">토론의장</a></li>
        </ul>
    </nav>
    <nav class="util">
        <ul>
            <li>
                <div id="header_search">
                    <div class="search">
                        <input type="text" placeholder="">
                        <img src="{% static 'img/search.png' %}" alt="마이페이지">
                        </div>
            </li>
            <li><a href="{% url 'users:mypage' %}">
                {% if request.path == '/users/mypage/' %}
                <img src="{% static 'img/icon_mypage.png' %}" alt="마이페이지">
                {% elif request.path == '/users/login/' %}
                <img src="{% static 'img/icon_mypage.png' %}" alt="마이페이지">
                {% elif request.path == '/users/signup/' %}
                <img src="{% static 'img/icon_mypage.png' %}" alt="마이페이지">
                {% elif request.path == '/posts/reports/' %}
                <img src="{% static 'img/icon_mypage.png' %}" alt="마이페이지">
                {% elif request.path == '/posts/promotion/' %}
                <img src="{% static 'img/icon_mypage.png' %}" alt="마이페이지">
                {% elif request.path == '/posts/notice/' %}
                <img src="{% static 'img/icon_mypage.png' %}" alt="마이페이지">
                {% elif request.path == '/posts/talk/' %}
                <img src="{% static 'img/icon_mypage.png' %}" alt="마이페이지">
                {% else %}
                <img src="{% static 'img/icon_mypage_wh.png' %}" alt="마이페이지">
                {% endif %}
                </a>
                <li>
                    {% if user.is_authenticated %}
                        <!-- 로그아웃 버튼 -->
                        <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            {% if request.path == '/users/mypage/' %}
                                <img src="{% static 'img/icon_logout.png' %}" alt="로그아웃">
                            {% elif request.path == '/users/login/' %}
                                <img src="{% static 'img/icon_logout.png' %}" alt="로그아웃">
                            {% elif request.path == '/users/signup/' %}
                                <img src="{% static 'img/icon_logout.png' %}" alt="로그아웃">
                            {% elif request.path == '/posts/reports/' %}
                                <img src="{% static 'img/icon_logout.png' %}" alt="로그아웃">
                            {% elif request.path == '/posts/promotion/' %}
                                <img src="{% static 'img/icon_logout.png' %}" alt="로그아웃">
                            {% elif request.path == '/posts/notice/' %}
                                <img src="{% static 'img/icon_logout.png' %}" alt="로그아웃">
                            {% elif request.path == '/posts/talk/' %}
                                <img src="{% static 'img/icon_logout.png' %}" alt="로그아웃">
                            {% else %}
                                <img src="{% static 'img/icon_logout_wh.png' %}" alt="로그아웃">
                            {% endif %}
                        </a>
                    {% else %}
                        <!-- 로그인 버튼 -->
                        <a href="{% url 'users:login' %}">
                            {% if request.path == '/users/mypage/' %}
                                <img src="{% static 'img/icon_login.png' %}" alt="로그인">
                            {% elif request.path == '/users/login/' %}
                                <img src="{% static 'img/icon_login.png' %}" alt="로그인">
                            {% elif request.path == '/users/signup/' %}
                                <img src="{% static 'img/icon_login.png' %}" alt="로그인">
                            {% elif request.path == '/posts/reports/' %}
                                <img src="{% static 'img/icon_login.png' %}" alt="로그인">
                            {% elif request.path == '/posts/promotion/' %}
                                <img src="{% static 'img/icon_login.png' %}" alt="로그인">
                            {% elif request.path == '/posts/notice/' %}
                                <img src="{% static 'img/icon_login.png' %}" alt="로그인">
                            {% elif request.path == '/posts/talk/' %}
                                <img src="{% static 'img/icon_login.png' %}" alt="로그인">
                            {% else %}
                                <img src="{% static 'img/icon_login_wh.png' %}" alt="로그인">
                            {% endif %}
                        </a>
                    {% endif %}
                </li>
        </ul>
    </nav>
    <div class="mob_open_btn"><img src="{% static 'img/gnb_btn.png' %}" alt="모바일 열기버튼"></div>
    <nav class="mob_gnb">
        <div class="mob_close_btn"><img src="{% static 'img/bg8.png' %}" alt="모바일 닫기버튼"></div>
            <ul>               
                <li><a href="#">SHOES</a>
                    <ul>
                    <li><a href="#">전체보기</a></li>
                    <li><a href="#">베스트셀러</a></li>
                    <li><a href="#">여성</a></li>
                    <li><a href="#">남성</a></li>
                    <li><a href="#">커스텀</a></li>
                    </ul>
                </li>                  
                 <li><a href="#">CLOTHES</a>
                    <ul>
                    <li><a href="#">전체보기</a></li>
                    <li><a href="#">아우터</a></li>
                    <li><a href="#">상의</a></li>
                    <li><a href="#">하의</a></li>
                    <li><a href="#">용품</a></li>
                    </ul>
                </li>
                <li><a href="#">KIDS</a>
                    <ul>
                        <li><a href="#">전체보기</a></li>
                        <li><a href="#">유아</a></li>
                        <li><a href="#">어린이</a></li>
                        <li><a href="#">커스텀</a></li>
                    </ul>
                </li>
                <li><a href="#">LOOKBOOK</a></li>
                <li><a href="#">BRAND</a></li>
                </ul>
    </nav>
</header>