{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <div class="container">
        <h1>SIGN IN</h1>
        <!-- Links -->
        <ul class="links">
            <li>
                <a href="{% url 'users:signup' %}" id="signup">회원가입</a>
            </li>
        </ul>

        <!-- Form -->
        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <!-- UserID input -->
            <div class="first-input input__block first-input__block">
                <input type="username" placeholder="아이디" class="input" id="username" />
            </div>
            <!-- password input -->
            <div class="input__block">
                <input type="password" placeholder="비밀번호" class="input" id="password" />
            </div>
            <!-- sign in button -->
            <button class="signin__btn">
                로그인
            </button>
        </form>
        <!-- separator -->
        <div class="separator">
            <p>또는</p>
        </div>
        <!-- google button -->
        <button class="google__btn">
            <i class="fa fa-google"></i>
            Google로 로그인
        </button>
        <!-- github button -->
        <button class="github__btn">
            <i class="fa fa-github"></i>
            Kakao로 로그인
        </button>
    </div>
{% endblock %}