
    <div class="container">
        <div class="profile-info">
            <h1>이재형</h1>
            <p class="level">레벨: 1</p>
            <a href="#" class="button">정보수정</a>
        </div>

        <div class="posts">
            <h2>작성한 글</h2>
            <ul>
                <li><a href="#">게시글 제목 1</a></li>
                <li><a href="#">게시글 제목 2</a></li>
                <li><a href="#">게시글 제목 3</a></li>
                <!-- 더 많은 게시글 추가 가능 -->
            </ul>
        </div>
        <div class="reviews">
            <h2>작성한 리뷰</h2>
            <ul>
                <li><a href="#">리뷰..........1</a></li>
                <li><a href="#">리뷰..........2</a></li>
                <li><a href="#">리뷰..........3</a></li>
                <!-- 더 많은 게시글 추가 가능 -->
            </ul>
        </div>
    </div>
