{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <form method="POST">
        {% csrf_token %}
        <table>
        <tr>
            <td>
                <h2>회원가입</h2>
            </td>
        </tr>
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>
                {{ field }}
                {% if field.errors %}
                <p class="error">{{ field.errors }}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <input type="submit" value="가입하기" class="btn">
            </td>
        </tr>
        </table>
    </form>
    {% if form.non_field_errors %}
    <p class="error">
        {{ form.non_field_errors }}
    </p>
    {% endif %}
{% endblock %}