{% extends 'base.html' %}
{% block content %}
    <form action="#">
        <table>
        <tr>
            <td><h2>회원가입</h2></td>
        </tr>
        <tr><td>아이디</td></tr>
        <tr><td><input type="text" class="text"></td></tr>
        <tr><td>비밀번호</td></tr>
        <tr><td><input type="password" class="text"></td></tr>
        <tr><td>비밀번호 확인</td></tr>
        <tr><td><input type="password" class="text"></td></tr>
        <tr><td>이름</td></tr>
        <tr><td><input type="text" class="text"></td></tr>
        <tr><td>전화번호</td></tr>
        <tr><td><input type="text" class="text"></td></tr>
        <tr><td>생년월일</td></tr>
        <tr><td><input type="date" class="text"></td></tr>
        <tr><td>이메일</td></tr>
        <tr>
            <td><input type="text" class="email"> @ 
                <select>
                    <option>naver.com</option>
                    <option>gmail.com</option>
                    <option>daum.net</option>
                    <option>nate.com</option>
                </select>
            </td>
        </tr>
        <tr><td><input type="submit" value="가입하기" class="btn" onclick="alert('가입 성공!')"></td></tr>
        </table>
    </form>
{% endblock %}